<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>いろいろこんとろーる</title>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.65.0.min.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/uwaguchi/cognito-sdk/aws-cognito-sdk.min.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/uwaguchi/cognito-sdk/amazon-cognito-identity.min.js"></script>

<script>
// token
var curtoken = null;

function $http(url){

  var core = {

    // Method that performs the ajax request
    ajax : function (method, url, args) {

      // Creating a promise
      var promise = new Promise( function (resolve, reject) {

        // Instantiates the XMLHttpRequest
        var client = new XMLHttpRequest();
        var uri = url;

        client.open(method, uri);

        // Set Authorization Header
        if (curtoken != null) {
          client.setRequestHeader('Authorization', curtoken);
	}

        if (args && (method === 'POST' || method === 'PUT')) {
          // Send POST or PUT Request
          client.setRequestHeader('Content-Type', 'application/json');
          var body = JSON.stringify(args);
          client.send(body);
        } else {
          // Send GET Request
          client.send();
        }

        client.onload = function () {
          if (this.status >= 200 && this.status < 300) {
            // Performs the function "resolve" when this.status is equal to 2xx
            resolve(this.response);
          } else {
            // Performs the function "reject" when this.status is different than 2xx
            reject(this.statusText);
          }
        };
        client.onerror = function () {
          reject(this.statusText);
        };
      });

      // Return the promise
      return promise;
    }
  };

  // Adapter pattern
  return {
    'get' : function(args) {
      return core.ajax('GET', url, args);
    },
    'post' : function(args) {
      return core.ajax('POST', url, args);
    },
    'put' : function(args) {
      return core.ajax('PUT', url, args);
    },
    'delete' : function(args) {
      return core.ajax('DELETE', url, args);
    }
  };
};

window.addEventListener("load", function(){
  // セッションチェック
  var pooldata = { UserPoolId: 'ap-northeast-1_vfDOOCJqF',
                   ClientId: '4r1516g75kkrkpkq9vi0rltad'
  };
  var userPool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(pooldata);
  cognitoUser = userPool.getCurrentUser();

  if (cognitoUser != null) {
    cognitoUser.getSession(function(err, session) {
      if (err) {
        alert(err);
        // ログイン画面に遷移
        window.location.href = 'login';
        return;
      }
      // token取得
      curtoken = session.getIdToken().getJwtToken();
      console.log('session validity: ' + session.isValid());
      console.log('access token + ' + curtoken);
    });
  } else {
    alert('session is null');
    // ログイン画面に遷移
    window.location.href = 'login';
    return;
  }

  // 各機能のイベントハンドラ登録
  document.getElementById("adddata").addEventListener("click", function(){
    document.getElementById("adddata_status").innerHTML = "<font color='red'>登録中...</font>";

    // 入力データ取得
    var max = document.getElementById("max").value;
    var min = document.getElementById("min").value;
    var bpm = document.getElementById("bpm").value;
    var data = {"max": max, "min": min, "bpm": bpm};

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/add-blood-pressure-record";
    $http(apiurl)
    .post(data)
    .then(function(data) {
      document.getElementById("adddata_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("adddata_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("view").addEventListener("click", function(){
    document.getElementById("recentimage").innerHTML = "<font color='red'>画像取得中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/capture";
    $http(apiurl)
    .get({})
    .then(function(data) {
      // レスポンス取得
      var res = JSON.parse(data);
      if(res.raspiresponse === "OK") {
        var imgurl = res.url + "?" + new Date().getTime();
        document.getElementById("recentimage").innerHTML = "<img src='" + imgurl + "' width=640 height=480>";
      } else {
        document.getElementById("recentimage").innerHTML = "<font color='red'>画像取得エラー</font>";
      }
    }).catch(err)(function(err) {
      document.getElementById("recentimage").innerHTML = "<font color='red'>画像取得エラー</font>";
    });
  });
  document.getElementById("tokai").addEventListener("click", function(){
    document.getElementById("tokai_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_1ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("tokai_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("tokai_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("tva").addEventListener("click", function(){
    document.getElementById("tva_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_2ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("tva_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("tva_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("nhk").addEventListener("click", function(){
    document.getElementById("nhk_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_3ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("nhk_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("nhk_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("chukyo").addEventListener("click", function(){
    document.getElementById("chukyo_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_4ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("chukyo_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("chukyo_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("cbc").addEventListener("click", function(){
    document.getElementById("cbc_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_5ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("cbc_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("cbc_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("mie").addEventListener("click", function(){
    document.getElementById("mie_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_6ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("mie_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("mie_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("etv").addEventListener("click", function(){
    document.getElementById("etv_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_9ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("etv_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("etv_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("nagoya").addEventListener("click", function(){
    document.getElementById("nagoya_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_11ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("nagoya_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("nagoya_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("ccnet").addEventListener("click", function(){
    document.getElementById("ccnet_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_12ch";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("ccnet_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("ccnet_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("tvoff").addEventListener("click", function(){
    document.getElementById("tvoff_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=tv_power";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("tvoff_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("tvoff_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("cooler").addEventListener("click", function(){
    document.getElementById("cooler_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=aircon_cooler";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("cooler_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("cooler_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("heater").addEventListener("click", function(){
    document.getElementById("heater_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=aircon_heater";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("heater_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("heater_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("airconoff").addEventListener("click", function(){
    document.getElementById("airconoff_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=aircon_off";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("airconoff_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("airconoff_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("light1").addEventListener("click", function(){
    document.getElementById("light1_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=light1";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("light1_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("light1_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("light3").addEventListener("click", function(){
    document.getElementById("light3_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=light3";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("light3_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("light3_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });
  document.getElementById("fanpower").addEventListener("click", function(){
    document.getElementById("fanpower_status").innerHTML = "<font color='red'>コマンド送信中...</font>";

    // APIリクエスト
    var apiurl = "https://3eno4n6y1d.execute-api.ap-northeast-1.amazonaws.com/prod/api/raspimessage/sendirkit?action=fan_power";
    $http(apiurl)
    .get({})
    .then(function(data) {
      document.getElementById("fanpower_status").innerHTML = "<font color='red'>コマンド送信完了！</font>";
    }).catch(err)(function(err) {
      document.getElementById("fanpower_status").innerHTML = "<font color='red'>コマンド送信エラー</font>";
    });
  });

}, false);
</script>
</head>

<body>
<h3>いろいろコントロールページ</h3>
<h4>本日の血圧登録（ラズパイ関係ないけど）</h4>
<p>最高血圧</p>
<p><input type="tel" id="max" maxlength="3" /></p>
<p>最低血圧</p>
<p><input type="tel" id="min" maxlength="3" /></p>
<p>脈拍</p>
<p><input type="tel" id="bpm" maxlength="3" /></p>
<p><input id="adddata" type="button" value="追加登録"></p>
<div id="adddata_status">
</div>
<p><a href="https://s3-ap-northeast-1.amazonaws.com/uwaguchi/blood-pressure/blood-pressure.txt" target="_blank">登録データ一覧はこちら</a></p>
<h4>いまの様子</h4>
<p><input id="view" type="button" value="いまの様子をみる"></p>
<div id="recentimage">
</div>
<h4>テレビ</h4>
<p><input id="tokai" type="button" value="東海テレビをつける"></p>
<div id="tokai_status">
</div>
<p><input id="tva" type="button" value="テレビ愛知をつける"></p>
<div id="tva_status">
</div>
<p><input id="nhk" type="button" value="NHKをつける"></p>
<div id="nhk_status">
</div>
<p><input id="chukyo" type="button" value="中京テレビをつける"></p>
<div id="chukyo_status">
</div>
<p><input id="cbc" type="button" value="CBCをつける"></p>
<div id="cbc_status">
</div>
<p><input id="mie" type="button" value="三重テレビをつける"></p>
<div id="mie_status">
</div>
<p><input id="etv" type="button" value="Eテレをつける"></p>
<div id="etv_status">
</div>
<p><input id="nagoya" type="button" value="メーテレをつける"></p>
<div id="nagoya_status">
</div>
<p><input id="ccnet" type="button" value="CCNetをつける"></p>
<div id="ccnet_status">
</div>
<p><input id="tvoff" type="button" value="テレビを消す"></p>
<div id="tvoff_status">
</div>
<h4>エアコン</h4>
<p><input id="cooler" type="button" value="冷房をつける"></p>
<div id="cooler_status">
</div>
<p><input id="heater" type="button" value="暖房をつける"></p>
<div id="heater_status">
</div>
<p><input id="airconoff" type="button" value="エアコンを消す"></p>
<div id="airconoff_status">
</div>
<h4>照明</h4>
<p><input id="light1" type="button" value="1回押す(off->on)"></p>
<div id="light1_status">
</div>
<p><input id="light3" type="button" value="3回押す(on->off)"></p>
<div id="light3_status">
</div>
<h4>扇風機</h4>
<p><input id="fanpower" type="button" value="電源ボタンを押す"></p>
<div id="fanpower_status">
</div>
</body>

</html>

